
# tessdata/
# tessdata_fast/
# tessdata_best/

sizes/movie/

/sizes/dump.pdf
/sizes/movie.mp4

/sizes/ffmpeg.help.txt
/sizes/tmp-*
/sizes/tmp_*

/sizes/B_RUN_data-*
/sizes/data-*
/sizes/B_RUN_data_*
/sizes/data_*
/sizes/A_RUN_data-*
/sizes/A_RUN_data_*
/sizes/C_RUN_data-*
/sizes/C_RUN_data_*
/sizes/D_RUN_data-*
/sizes/D_RUN_data_*

/borders/RUN_data*

/borders/SRCIMG-F-*

/sizes/diagnostics-output
/sizes/vanilla-output

# the scripts in this directory should be visible, but any output should possibly be hidden:
/sizes/weird-segfault-hunted/*.log
/sizes/weird-segfault-hunted/*.html
/sizes/weird-segfault-hunted/*.tsv
/sizes/weird-segfault-hunted/*.txt
/sizes/weird-segfault-hunted/*.hocr
/sizes/weird-segfault-hunted/*.webp
/sizes/weird-segfault-hunted/*.uzn

*~

# tracked by https://github.com/GerHobbelt/tesseract-bulk-testing-fun-with-assertion-failures-outputs repo instead.
/setup.outputs-repo.configs.sh
.ocr-output-repo.excludes

